{% load static %}

<footer class="container-fluid bg-primary">
    <div class="container text-light">
        <div class="row">
            <div class="col">
                <div class="p-1">
                    <span class="align-middle p-1">Feito com Django</span>
                </div>
            </div>
            <div class="col">
                <div class="p-1 text-right">
                    <span class="align-middle p-1">Mauricio Fernandes</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js'%}"></script>
<script type="text/javascript" src="{% static 'src/utils/Attrs.js'%}"></script>
<script type="text/javascript" src="{% static 'src/models/Model.js'%}"></script>
<script type="text/javascript" src="{% static 'src/models/table/Column.js'%}"></script>
<script type="text/javascript" src="{% static 'src/models/table/Row.js'%}"></script>
<script type="text/javascript" src="{% static 'src/models/table/THead.js'%}"></script>
<script type="text/javascript" src="{% static 'src/models/table/TBody.js'%}"></script>
<script type="text/javascript" src="{% static 'src/models/table/TFooter.js'%}"></script>
<script type="text/javascript" src="{% static 'src/models/table/Table.js'%}"></script>
<script type="text/javascript" src="{% static 'src/views/TagsView.js'%}"></script>
<script type="text/javascript" src="{% static 'src/views/ElementView.js'%}"></script>
<script type="text/javascript" src="{% static 'src/views/table/ColView.js'%}"></script>
<script type="text/javascript" src="{% static 'src/views/table/RowView.js'%}"></script>
<script type="text/javascript" src="{% static 'src/views/table/THeadView.js'%}"></script>
<script type="text/javascript" src="{% static 'src/views/table/TBodyView.js'%}"></script>
<script type="text/javascript" src="{% static 'src/views/table/TFooterView.js'%}"></script>
<script type="text/javascript" src="{% static 'src/views/table/TableView.js'%}"></script>
<script type="text/javascript" src="{% static 'src/index.js'%}"></script>
